.bg-1 {
  min-height: 780px;
  background: url("../img/bg/bg-1.jpg") top center no-repeat;
  background-size: auto;
  position: relative;
  @include media-breakpoint-down(lg) {
    min-height: auto;
  }
  @include media-breakpoint-down(md) {
    background-size: cover;

  }
  @include media-breakpoint-down(sm) {
    background-size:  auto 480px;
  }
}
.bg-2-3 {
  min-height: 1503px;
  margin-top: -100px;
  padding-top: 100px;
  background: url("../img/bg/bg-2-3-1.png") top center no-repeat #f9f3ef;
  background-size: auto;
  @include media-breakpoint-down(lg) {
    min-height: auto;
  }
  @include media-breakpoint-down(md) {
    background-size: cover;
    padding-top: 60px;

  }
  @include media-breakpoint-down(sm) {

  }
}


.bg-4 {
  min-height: 670px;
  background: url("../img/bg/bg-4-1.png") top center no-repeat #f9f3ef;
  background-size: auto;
  @include media-breakpoint-down(lg) {
    min-height: auto;
    background-size: cover;
  }
  @include media-breakpoint-down(md) {
    background-size: 130vw auto;
    background-position: center left;
  }
  @include media-breakpoint-down(xs) {
    background-image: none;
  }
}

.bg-5 {
  min-height: 712px;
  background: url("../img/bg/bg-5.png") top center no-repeat #ffffff;
  background-size: auto;
  @include media-breakpoint-down(lg) {
    min-height: auto;
    background-size: cover;
  }
  @include media-breakpoint-down(sm) {
    background-size: cover;
    background-position: 45% top;
  }
}
.bg-6 {
  min-height: 618px;
  background: url("../img/bg/bg-6.png") top center no-repeat #f9f3ef;
  background-size: auto;
  @include media-breakpoint-down(lg) {
    min-height: auto;
    background-size: cover;
  }
  @include media-breakpoint-down(sm) {
    background-size: cover;
  }
}
.bg-7 {
  min-height: 550px;
  background: url("../img/bg/bg-7.png") bottom center no-repeat #f9f3ef;
  background-size: auto;
  @include media-breakpoint-down(lg) {
    min-height: auto;
    background-size: cover;
  }
  @include media-breakpoint-down(sm) {
    background-size: cover;
    background-position: 45% top;
  }
}

.bg-8-9-10 {
  min-height: 2163px;
  background: url("../img/bg/bg-8-9-10.png") top center no-repeat #ffffff;
  background-size: auto;
  @include media-breakpoint-down(lg) {
    min-height: auto;
  }
  @include media-breakpoint-down(sm) {
    background-size: cover;
  }
}


.bg-11 {
  min-height: 625px;
  background: url("../img/bg/bg-11.jpg") top center no-repeat;
  background-size: auto;
  @include media-breakpoint-down(lg) {
    min-height: auto;
  }
  @include media-breakpoint-down(sm) {
    background-size: cover;
  }
}

