.video {
  padding-top: 7px;
  .row {
    padding: 50px 0px 50px 100px;
  }
  .red-list {
    padding: 60px 0 30px;
    margin-left: -50px;
  }
  .t1 {
      font-size: 18px;
    margin-left: -20px;
  }
  .cloud {
    display: block;
    padding-top: 65px;
    margin-left: 100px;
    width: 970px;
    height: 130px;
    font-size: 28px;
    color: rgb(114,118,120);
    font-family: "Roboto Condensed", Arial, serif;
    text-align: center;
    background: url("../img/cloud.svg") no-repeat center;
    background-size: contain;
  }
  .video-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 306px;
    border-radius: 25px;
    box-shadow: 0px 1px 24px rgba(0,0,0,0.38);
    background-color: #dfdfdf;
    overflow: hidden;
    position: relative;
    img {
      height: 100%;
      margin: auto;
    }
    .play {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-image: url("../img/ico/i-play.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #ed1105;
      background-size: 38px;
      transition: all 0.2s ease;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      &:hover {
        background-image: url("../img/ico/i-play-hover.svg");
        background-color: #ffffff;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .row {
      padding: 50px 0px 50px 50px;
    }
    .red-list {
      margin-left: 0;
      padding-top: 2.5vw;
    }
    .t1 {
      margin-left: 25px;
    }
    .video-preview {
      width: 100%;
      max-width: 400px;
      height: auto;
      img {
        height: auto;
      }
    }
    .cloud {
      width: 100%;
      margin-left: 0;
    }
  }

  @include media-breakpoint-down(md) {
    .video-preview {
      margin: 0 auto;
    }
    .cloud {
      font-size: 22px;
    }
    .row {
      padding: 50px 0px 20px;
    }
    .red-list {
      padding-top: 20px;
      max-width: 400px;
      margin: 0 auto;
    }
    .t1 {
      font-size: 16px;
      max-width: 400px;
      margin: 0 auto;
    }
  }

  @include media-breakpoint-down(sm) {
    .cloud {
      font-size: 18px;
      background-size: cover;
      padding-top: 60px;
    }
    .video-preview .play {
      width: 70px;
      height: 70px;
      background-size: 25px;
      margin-top: -35px;
    }
  }

  @include media-breakpoint-down(xs) {

  }
}